.bar-color{
    background-color: #b7b6b6 ;
}

.btn-color {
    background-color: #8064A2;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-color:hover {
    background-color: #715b8d;
    color: white;
}

.text-section {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 10px;
    text-align: justify;
    margin-top: 30px;
  }
  
  .jumbotron {
    padding: 20px;
    margin-bottom: 0;
    border-radius: 1;
    /* background-color: #f2f2f2; */
  }
  
  h2 {
    font-size: 36px;
  }

th, td {
    border: 1px solid black;
    padding: 5px;
}

table {
  border-collapse: collapse;
  margin: 10px;
}

@media (max-width: 991px) {
    
  .btn {
      white-space: nowrap; /* Prevent the button text from wrapping to the next line */
      display: inline-block; /* Make sure the button is displayed as a block element */
    }

    body{
        font-size: 14px;
        
    }

    h1 {
        font-size: 20px; /* Decrease h1 font size for mobile */
    }
  
    h2 {
        font-size: 18px; /* Decrease h2 font size for mobile */
    }
    h3, h4, h5,h6{
      font-size: 17px;
    }
  
    p {
        font-size: 15px; /* Decrease p font size for mobile */
    }
    ul li{
      font-size: 15px;
      text-align: left;
    }
    div {
      font-size:  15px;
    }
    .btn{
      font-size: 15px;
    }


}

@media (max-width: 767px) {

  .btn {
    white-space: nowrap; /* Prevent the button text from wrapping to the next line */
    display: inline-block; /* Make sure the button is displayed as a block element */
  }

  body{
      font-size: 10px;
      
  }

  h1 {
      font-size: 16px; /* Decrease h1 font size for mobile */
  }

  h2 {
      font-size: 15px; /* Decrease h2 font size for mobile */
  }
  h3, h4, h5,h6{
    font-size: 13px;
  }

  p {
      font-size: 12px; /* Decrease p font size for mobile */
  }
  ul li{
    font-size: 11px;
    text-align: left;
  }
  div {
    font-size:  12px;
  }
  .btn{
    font-size: 12px;
  }
  .title{
    white-space: nowrap;
    margin-top: 8px;
    margin-left: 50px;

  }
  .back {
    margin-left: 10px; 
  }

}