.scroll-y {
  overflow-y: auto;
  max-height: 700px;
}

.bar-color{
    background-color: #b7b6b6 ;
}

.btn-color {
    background-color: #8064A2;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-color:hover {
    background-color: #715b8d;
    color: white;
}

.small-icon {
    font-size: 10px;
    color: #A2A2A2;
  }

  .small-icon:hover {

    color: #858484;
  }

.close{
    cursor: pointer;
}

input[readonly].readOnly{
    background-color:transparent;
    /* border: 1px solid; */
    font-size: 1em;
}

input[readonly]:focus {
    border-color: rgb(205, 205, 205);
    box-shadow: none
  }

  .margin {
    margin-left: 5rem!important;
}  
  
.tree {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
.tree::before {
    content: "";
    position: absolute;
    top: 37px;
    right: 95%;
    width: 2px;
    height: 35%;
    background-color: rgb(216, 214, 214);
}
  
.tree::after {
    content: "";
    position: absolute;
    top: 67%;
    left: 36px;
    width: 45px;
    height: 2px;
    background-color: rgb(216, 214, 214);
}
  
.tree .form-control {
    margin-left: 15px;
}

/* @media (max-width: 913px) and (min-width: 480px) {
    .tree::before,
    .tree::after {
      display: none;
    }
    .tree .form-control {
      margin-left: 0;
      margin-right: 15px;
    }
    .tree .col-xs-12 {
      margin-bottom: 10px;
    }
} */

@media (max-width: 912px) {

  .btn {
    white-space: nowrap; /* Prevent the button text from wrapping to the next line */
    display: inline-block; /* Make sure the button is displayed as a block element */
  }
  .tree {
        /* Override the styles for .tree class, making it effectively empty */
        position: static;
        display: block;
        flex-wrap: nowrap;
        align-items: stretch;
    }

    .tree::before,
    .tree::after {
        /* Remove the pseudo-elements (::before and ::after) from .tree */
        display: none;
    }

    .tree .form-control {
        /* Adjust the margin for .form-control inside .tree for small devices */
        margin-left: 0;
        margin-right: 15px;
    }

    .tree .col-xs-12 {
        /* If .col-xs-12 is inside .tree, you can adjust its styles as needed */
        margin-bottom: 10px;
    }
}
.phase{
  margin-left: 20px; 
  cursor: pointer; 
  display: flex; 
  align-items: center;
}
.phaseName{
  margin-left: 10px; 
  margin-bottom: 10px;
  cursor: pointer;
}
.char{
  margin-left: 40px; 
  cursor: pointer; 
  display: flex; 
  align-items: center;
}

.charName{
  margin-left: 10px;
  margin-bottom: 10px; 
  cursor: pointer;
}

.factor{
  margin-left: 60px; 
  margin-bottom: 10px; 
  cursor: pointer;
}


.bar-color{
  background-color: #b7b6b6 ;
}

.jumbotron {
  padding: 20px;
  margin-bottom: 0;
  border-radius: 1;
}

@media (max-width: 991px) {
    
  .btn {
      white-space: nowrap; /* Prevent the button text from wrapping to the next line */
      display: inline-block; /* Make sure the button is displayed as a block element */
    }

    body{
        font-size: 14px;
        
    }

    h1 {
        font-size: 20px; /* Decrease h1 font size for mobile */
    }
  
    h2 {
        font-size: 18px; /* Decrease h2 font size for mobile */
    }
    h3, h4, h5,h6{
      font-size: 17px;
    }
  
    p {
        font-size: 15px; /* Decrease p font size for mobile */
    }
    ul li{
      font-size: 15px;
      text-align: left;
    }
    div {
      font-size:  15px;
    }
    .btn{
      font-size: 15px;
    }
    .proceed{
      text-align: right;
      margin-right: 30px;
    }

}

@media (max-width: 767px) {

  .btn {
    white-space: nowrap; /* Prevent the button text from wrapping to the next line */
    display: inline-block; /* Make sure the button is displayed as a block element */
  }

  body{
      font-size: 10px;
      
  }

  h1 {
      font-size: 16px; /* Decrease h1 font size for mobile */
  }

  h2 {
      font-size: 15px; /* Decrease h2 font size for mobile */
  }
  h3, h4, h5,h6{
    font-size: 13px;
  }

  p {
      font-size: 12px; /* Decrease p font size for mobile */
  }
  ul li{
    font-size: 11px;
    text-align: left;
  }
  div {
    font-size:  12px;
  }
  .btn{
    font-size: 12px;
  }

  /* .title{
    text-align: center;
    font-size: 11.5px;
    margin-top: 8px;
  }
  .back {
      margin-left: 5px;
  } */

  .title{
    white-space: nowrap;
    margin-top: 8px;
    margin-left: 50px;

  }
  .back {
    margin-left: 10px; 
  }


}